name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install buf
        uses: bufbuild/buf-setup-action@v1
      - name: Build protoc-gen-croupier
        run: make croupier-plugin
      - name: Generate proto
        run: buf generate
      - name: Go mod download
        run: go mod download
      - name: Clear test cache
        run: go clean -testcache
      - name: Unit tests
        run: go test -count=1 ./...
